apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml

images:
  - name: 541673202749.dkr.ecr.ap-northeast-2.amazonaws.com/jio-server-data
    newTag: latest
